/* GLOBAL */
:root{
  --midnight-green:#014E56;
  --light-coral: #F67E7E;
  --white: #FFFFFF;
  --rapture-blue: #79C8C7;
  --police-blue: #2C6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012F34;
  --dark-green: #002529;
}
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
    }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    }

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    }

img {
    max-width: 100%;
    height: auto;
    }
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

  /* CONTAINER */
.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    }


  /* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
    margin: 0;
    }

/* HEADER SECTION*/
.header{
  padding-top: 77px;
  background-color: var(--midnight-green);
}
.header--container{
  display: flex;
}
.header--icon{
  margin-right: 80px;
}
.header--navigation{
  margin-right: auto;
}
.header--navigation__link{
  text-decoration: none;
  color: var(--white);
}
.header--navigation__link:first-child{
  margin-right: 40px;
}
.header--contact-button{
  text-decoration: none;
  color: var(--white);
  padding: 9px 33px 9px 33px;
  border: 2px solid var(--white);
  border-radius: 24px;
}
/* Best talent section */
.best-talent--container{
  margin-top: 129px;
}
.best-talent {
  padding-bottom: 250px;
  display: flex;
}
.best-talent--title {
  margin: 0;
  margin-right: auto;
  font-weight: 700px;
  font-size: 100px;
  line-height: 1;
}
.bt-red{
  color: var(--light-coral);
}
.best-talent--hroll {
  width: 50px;
  height: 4px;
  margin: 0;
  margin-bottom: 80px;
  background-color: var(--white);
}
.best-talent--paragraph {
  width: 445px;
  font-weight: 600px;
  font-style: 18px;
  line-height: 30px;
}
/* Team managament section */
.team-managament{
  background-color: var(--sacramento-state-green);
}
.team-managament--container{
  padding-top: 140px;
  padding-bottom: 140px;
  display: flex;
}
.team-managament--title-wrapper{
  margin-right: 125px;
}
.team-managament--hroll{
  width: 50px;
  height: 4px;
  margin: 0;
  margin-bottom: 54px;
  background-color: var(--light-coral);
}
.team-managament--title{
  width: 445px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
}
.team-managament--list__item {
  display: flex;
}
.team-managament--list__item:not(:last-child){
  margin-bottom: 32px;
}
.list-icon-wrapper {
  width: 56px;
  height: 56px;
  margin-right: 23px;
  border-radius: 50%;
  background-color: var(--police-blue);
}
.list--icon{
  margin-top: -15px; 
  margin-left: -15px; 
}
.list--info__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 1;
  color: var(--light-coral);
}
.list--info__paragraph {
  width: 445px;
  font-size: 15px;
}


/* Get started section */
.get-started {
  background-color: var(--light-coral);
  color: var(--sacramento-state-green);
}
.get-started--container {
  padding-top: 76px;
  padding-bottom: 76px;
  padding-left: 95px;
  padding-right: 95px;
  display: flex;
  align-items: center;
}
.get-started--title {
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 48px;
}
.get-started--button {
  border-color: var(--sacramento-state-green);
  color: var(--sacramento-state-green);
  line-height: 1;
}